<h1>
  <div class="pull-right"><%= link_to 'New League', new_league_path, class: 'btn btn-default' %></div>
  Listing Leagues
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th width="120"></th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.each do |league| %>
      <tr>
        <td><strong><%= link_to league, league %></strong></td>
        <td align="right">
          <%= link_to 'Edit', edit_league_path(league) %> |
          <%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


