<h1>
  <div class="pull-right">
    <div class="btn-group" role="group">
      <%= link_to 'Edit', [:edit, @league], class: 'btn btn-default' %>
      <%= link_to 'Destroy', @league, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <%= @league %>
</h1>

<section>
  <%= link_to 'Invite a user...', new_user_invitation_path %>
</section>