<div class="jumbotron">
  <h1>Pure Fantasy League</h1>
  <p>Welcome to PFL, the world's purest form of Fantasy Football!</p>
</div>

<% unless registered_admin? %>
  <h3 class="jumbotron">
    It looks like you're the first one here - <%= link_to 'Sign up as admin now', new_user_registration_path %>!
  </h3>
<% end %>
