<%- add_breadcrumb 'Invite a User...' -%>

<h1>Invite a User...</h1>

<%= simple_form_for resource, :as => resource_name, :url => invite_league_managers_path, :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <%= f.input field %>
  <% end -%>

  <%= f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn-primary', data: { disable_with: 'Please wait...' } %>
<% end %>
